{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de cursos</h1>
</div>

<table class="table">
    <tr><th>Sistemas de informaçao</th><th>Período</th><th>Faculdade</th></tr>
        {% for curso in cursos %}
          <tr><td>{{ curso }}</td><td>Noturno</td><td>Faculdade Impacta</td></tr>
    <tr><th>Medicina</th><th>Período</th><th>São judas</th></tr>
        {% for curso in cursos %}
          <tr><td>{{ curso }}</td><td>Noturno</td><td>uninove</td></tr>
    <tr><th>Mecanica</th><th>Período</th><th>Faculdade</th></tr>
        {% for curso in cursos %}
          <tr><td>{{ curso }}</td><td>Noturno</td><td>Faculdade Impacta</td></tr>
    <tr><th>Engenharia Civil</th><th>Período</th><th>mackenzie</th></tr>
        {% for curso in cursos %}
          <tr><td>{{ curso }}</td><td>Noturno</td><td>Faculdade Impacta</td></tr>
    <tr><th>redes de computação</th><th>Período</th><th>un</th></tr>
        {% for curso in cursos %}
          <tr><td>{{ curso }}</td><td>Noturno</td><td>Faculdade Impacta</td></tr>
        {% endfor %}
</table>

{% endblock %}
